*{
    padding:0;
    margin:0;
    color:white;

}
#navbar{
    height: 60px;
    background-color: black;
}
input{
    color:black;
}

button{
    background-color: rgb(255, 166, 0);
    color:black;
}
#logo{
    color:rgb(255, 145, 0);
    font-size:25px;
    
}
a{
    margin-right: 200px;
    text-decoration: none;
}
footer{
    color:black;
}
.content-box{
    border:2px solid ;
    height:40px;
    width:40px;
    border-color: black;
}
