*{
    margin:0;
    padding:0;
}

h1{
    background-image: linear-gradient(rgb(0, 255, 115), rgb(78, 178, 159));
    color: transparent;
    background-clip: text;
    text-align: center;
    width:100%;
    margin-top: 55px;
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
}
.Photo-selections{
    width: 200px;
    height: 250px;
    background-color: rgb(173, 230, 174);
    border: 2px solid rgb(98, 250, 144);
    margin: 30px;
    display: inline-block;
    align-self: center;
    padding-left: 100px;
    text-align: center;
    margin-left: 320px;
    margin-right: 300px;
    margin-bottom: 50px;
}
